<h1>Edit Subject</h1>
<%= form_for @subject, :url => {:action => 'update'} do |f| %>
<p>
	<span>Subject Name:</span><br>
	<span><%=f.text_field :name %></span>	
</p>
<p>
	<span>Price:</span><br>
	<span><%=f.text_field :price %></span>
</p>
<p>
	<%=f.submit ("Update Subject") %>
</p>
<%end %>