<h1>Single Subject</h1>
<p>
	<span>Subject Name:</span><br>
	<span><%=@subject.name %></span>

</p>
<p>
	<span>Price:</span>
	<span><%=@subject.price %></span>
</p>
<p><a href="<%=subject_index_path%>"> Index</a></p>